{% extends 'base.html' %}
{% block content %}

<h3>Confirmar Resposta</h3>

<a href="{% url 'subgrupo:subgrupo' slug_grupo slug_subgrupo %}">Retornar</a>

<form method="POST" action="">

  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="enviar">

</form>

{% endblock content %}