{% extends 'base.html' %}
{% block content %}

<a href="{% url 'subgrupo:subgrupo' grupo subgrupo %} ">Retornar</a>

<form method='POST'>
  {% csrf_token %}
  <p>Tem certeza de que deseja apagar a resposta {{ item_tarefa }} ?</p>
  <input type="submit" value="Apagar">
</form>

{% endblock content %}
