{% extends 'base.html' %}

{% block content %}

<div class='header-bar'>
    <div>
        <h1>Seja bem-vindo, {{ request.user.first_name }}</h1>
        <h3 style="margin:0">Você tem <i>{{ incompletos }}</i> respostas revisadas.</h3>
    </div>

{% if request.user.is_authenticated %}
       <a href="{% url 'logout' %}">Sair</a>
    {% else %}
        <a href="{% url 'login' %}">Entrar</a>
{% endif %}
</div>

<h1>Questionário</h1>

<div id="tasklist" class="task-items-wrapper">
    {% for subgrupo in subgrupos %}

        <div class="task-wrapper" data-position="{{ grupo.pk }}">
            <div class="task-title">
                <div class="task-complete-icon"></div>
                <a href="{% url 'subgrupo:subgrupo' subgrupo.grupo.slug subgrupo.slug %}">{{ subgrupo }}</a>
            </div>
            <div class="task-controls">
                <a class="delete-link" href="{% url 'subgrupo:apagar' subgrupo.grupo.slug subgrupo.id %}">&#215;</a>
                <a class="update-link" href="{% url 'subgrupo:atualizar' subgrupo.grupo.slug subgrupo.id %}">&nbsp;&#10247;</a>
            </div>
        </div>

    {% empty %}
        <h3>Sem itens na lista</h3>
    {% endfor %}

</div>

{% endblock content %}
