{% extends 'base.html' %}
{% block content %}


<div class='header-bar'>
    <div>
        <h1>Hello, {{ request.user.first_name }}</h1>
    </div>

{% if request.user.is_authenticated %}
       <a href="{% url 'logout' %}">Sair</a>
    {% else %}
        <a href="{% url 'login' %}">Entrar</a>
{% endif %}
</div>



<h1>Minhas Tarefas</h1>

<div id="search-add-wrapper">
<form method="GET">
    <input type="text" name="search-area" value="{{ search_input }}">
    <input type="submit" value="Search">
</form>
    <a id="add-link" href="">&#x2b;</a>
</div>

<div id="tasklist" class="task-items-wrapper">
    {% for tarefa in tarefas %}

    <div class="task-wrapper" data-position="{{grupo.pk}}">
        <div class="task-title">
            {% if tarefa.complete %}
            <div class="task-complete-icon"></div>
            <a href="{% url 'tarefa:atualizar' tarefa.grupo.slug tarefa.subgrupo.slug tarefa.slug %}">{{ tarefa }}</a>
            {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'tarefa:atualizar' tarefa.grupo.slug tarefa.subgrupo.slug tarefa.slug %}">{{ tarefa }}</a>
            {% endif %}
        </div>
        <div class="task-controls">
            <a class="delete-link" href="{% url 'tarefa:apagar' tarefa.grupo.slug tarefa.subgrupo.slug tarefa.slug %}">&#215;</a>
            <span class="handle">&nbsp;&#10247;</span>
        </div>
    </div>

    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}

</div>

<h1>Powered by CIEG</h1>

{% endblock content %}
