{% extends 'base.html' %}
{% block content %}

<a href="{% url 'grupo:grupo' %} ">Retornar</a>

<form method='POST'>
  {% csrf_token %}
  <p>Tem certeza de que deseja apagar o assunto {{ grupo }} ?</p>
  <input type="submit" value="ApagaGrupo">
</form>

{% endblock content %}
