{% extends 'base.html' %}
{% block content %}

<h3>Adicionar Assunto</h3>

<a href="{% url 'home:index' %}">Retornar</a>

<form method="POST" action="">

  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="enviar">

</form>

{% endblock content %}