{% extends 'base.html' %}
{% block content %}

  {% include "nav.html" %}

<div class='header-bar'>
    <div>
        <h1>Seja bem-vindo, {{ request.user.first_name }}</h1>
        <h3 style="margin:0">Você tem <i>{{ count }}</i> respostas revisadas.</h3>
        <h3 style="margin:0"> <a href="{% url 'home:index' %}">Assuntos</a></h3>
    </div>

{% if request.user.is_authenticated %}
       <a href="{% url 'logout' %}">Sair</a>
    {% else %}
        <a href="{% url 'login' %}">Entrar</a>
{% endif %}
</div>

<div id="search-add-wrapper">
    <a id="add-link" href="{% url 'subgrupo:criar' grupo.slug %}">&#x2b;</a>
</div>

<h1>Questionário</h1>
<div id="tasklist" class="task-items-wrapper">
    {% for subgrupo in subgrupos %}

    <div class="task-wrapper" data-position="{{ subgrupo.pk }}">
        <div class="task-title">
            <div class="task-complete-icon"></div>
            <a href="{ url 'subgrupo:subgrupo' grupo.slug subgrupo.slug %}">{{ subgrupo }}</a>
        </div>
        <div class="task-controls">
            <a class="delete-link" href="{ url 'subgrupo:apagar' subgrupo.grupo.slug subgrupo.slug %}">&#215;</a>
            <a class="update-link" href="{ url 'subgrupo:atualizar' subgrupo.grupo.slug subgrupo.slug %}">&nbsp;&#10247;</a>
        </div>
    </div>

    {% empty %}
    <h3>Sem itens na lista</h3>
    {% endfor %}

</div>

<h1>Powered by CIEG</h1>

{% endblock content %}


