{% extends 'base.html' %}
{% block content %}

{% if request.user_is_authenticated %}
<h3>Acesso negado</h3>

{% else %}

<h1>Gerenciamento do Questionário LGPD</h1>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="login">

</form>

{% endif %}

<p>Não tem uma conta?<a href="{% url 'registrar' %}">Registrar</a></p>
<h1>Powered by CIEG</h1>

{% endblock content %}