{% extends 'base.html' %}
{% block content %}

<a href="{% url 'subgrupos' id_grupo %} ">Retornar</a>

<form method='POST'>
  {% csrf_token %}
  <p>Tem certeza de que deseja apagar a questão {{ subgrupo }} ?</p>
  <input type="submit" value="ApagaSubGrupo">
</form>

{% endblock content %}