{% extends 'base.html' %}
{% block content %}

  {% include "nav.html" %}

<div class='header-bar'>
    <div>
        <h1>Hello, {{ request.user.first_name }}</h1>
        <h3 style="margin:0">Você tem <i>{{ count }}</i> respostas revisadas.</h3>
        <h3 style="margin:0"> <a href="{% url 'home:index' %}">Assuntos</a></h3>
        <h3 style="margin:0"> <a href="{% url 'home:subgrupos' %}">Questionário</a></h3>
    </div>

{% if request.user.is_authenticated %}
       <a href="{% url 'logout' %}">Sair</a>
    {% else %}
        <a href="{% url 'login' %}">Entrar</a>
{% endif %}
</div>

<h1>Respostas
{% for author in author_list %}
    <li>{{ tarefas.name }}</li>
{% endfor %}
</h1>

<a id="add-link" href="{% url 'tarefa:criar' subgrupo.grupo.slug subgrupo.slug %}">&#x2b;</a>

<div id="tasklist" class="task-items-wrapper">
    {% for tarefa in tarefas %}
    <div class="task-wrapper" data-position="{{tarefa.pk}}">
        <div class="task-title">
            {% if tarefa.complete %}
                <div class="task-complete-icon"></div>
                <a href="{% url 'tarefa:atualizar' tarefa.grupo.slug tarefa.subgrupo.slug tarefa.id %}">{{tarefa}}</a>
            {% else %}
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'tarefa:atualizar' tarefa.grupo.slug tarefa.subgrupo.slug tarefa.id %}">{{tarefa}}</a>
            {% endif %}
        </div>
        <div class="task-controls">
         <a class="delete-link" href="{% url 'tarefa:apagar' tarefa.grupo.slug tarefa.subgrupo.slug tarefa.id %}">&#215;</a>
            <span class="handle">&nbsp;&#10247;</span>
        </div>
    </div>

    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</div>

<h1>Powered by CIEG</h1>

{% endblock content %}
