{% load static %}
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'base/css/styles__ltr.css' %}">

  {% block css %}{% endblock css %}
</head>
<body>
  {% include "nav.html" %}

  {% block content %}
    <h1>Título</h1>
    <h2>sub-título</h2>
  {% endblock content %}

  {% block footer %}
    <p>Rodapé</p>
  {% endblock footer %}

  <script src=""></script>

  {% block js %}{% endblock js %}
</body>
</html>
